<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>..:: Welcome to Flazon ::..</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>FLAZON</li>
          <li>HOME</li>
          <li>ABOUT</li>
          <li>CONTACT</li>
          <li></li>
        </ul>
      </nav>
    </header>

    <div class=""> <!-- Main div  -->
      <div class=""> <!-- Items div  -->

      </div> <!-- Items div closing  -->




    </div> <!-- Main div closing  -->

    <footer>
      <p style="color:blue">Flazon.com © Inc. All rights reserved.</p>
    </footer>
  </body>
</html>
