<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>..:: Welcome to Flazon ::..</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>FLAZON</li>
          <li>HOME</li>
          <li>ABOUT</li>
          <li>CONTACT</li>
          <li></li>
        </ul>
      </nav>
    </header>

    <div class=""> <!-- Main div  -->
      <div class=""> <!-- Items div  -->
        <h1>Items</h1>
        <% @items.each do |item| %>
        <ul>
          <li><%= link_to item.name, item_path(item)  %></li>
        </ul>
        <% end %>
      </div> <!-- Items div closing  -->

      <div class=""> <!-- Action Buttons div  -->
        <%= link_to "Create New Item", new_item_path %>
      </div> <!-- Action Buttons div closing -->



    </div> <!-- Main div closing  -->

    <footer>
      <p style="color:blue">Flazon.com © Inc. All rights reserved.</p>
    </footer>
  </body>
</html>
