<%= render partial: 'shared/header_form'%>
<%= render partial: 'shared/nav_form' %>
<h1>New a Category</h1>
<h3>For Admin Page</h3>

<%= render partial: 'category_form' %>
<%= render partial: 'shared/footer_form'%>
